ul.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

li.page-item {
    padding: 5px;
    border: 2px solid var(--primary-color);
    margin: 5px;
    cursor: pointer;
    color: var(--primary-color);
    background: #fff;
}

li.disabled {
    cursor: not-allowed;
}

li.page-item.active {
    background: var(--primary-color);
    color: #fff;
}